In [10]:
import pandas as pd

In [12]:
df = pd.read_csv('profile.txt', sep = "\t")

In [13]:
df.head(15)

,Title,Location,Salary,Experience,English,Skills
0,Data Engineer/Scala Developer,Київ,$1100,NaN,Advanced/Fluent,"Scala,Akka,Java,Linux,Git,RESTAPI,Functionalpr..."
1,Data Engineer with Scala,Київ,$6700,7.0,Upper,"Scala,ApacheSpark,Kafka,Cassandra,Gradle,Distr..."
2,Junior/Trainee Scala Developer,"Запоріжжя,Київ,Львів,Дніпро",$400,3.0,Intermediate,"Python,Django,Git,PostgreSQL,Linux,JavaScript,..."
3,Scala Developer/Team Lead/Data Engineer/ML,"Харків,remote",$5000,10.0,Upper,"Scala,Akka,Spark,Kafka,Hadoop,Cassandra,Docker..."
4,Senior Scala Developer / Tech Lead,"Київ,Мюнхен",$5500,5.0,Upper,"Scala,Akka,PostgreSQL,Kafka,Slick,RabbitMQ,Pla..."
5,DevOps/System Engineer | SRE | Backend Developer,будь-якемісто,$3500,10.0,Upper,"AWS,Chef,FreeBSD,Linux,puppet,Python,Ruby,Shel..."
6,Scala developer,"Віддаленаробота,Україна",$4700,10.0,Intermediate,"Scala,Spark,Linux,Sbt,Cassandra,Akka,Git,PlayF..."
7,Scala Developer,Київ,$4500,10.0,Upper,"Scala,Akka,NoSQL"
8,Senior Scala Developer,Київ,$4500,7.0,Upper,"Scala,Akka,Spark,Java,SQL,Linux,Git,MongoDB,Do..."
9,Scala Developer,"Віддаленаробота,Україна",$700,5.0,Pre-Intermediate,"OOP,Scala,Functionalprogramming,Sbt,ApacheSpar..."
10,Java/Scala Developer,Київ,$4000,5.0,Upper,"Scala,Java,AWS,Spark,PlayFramework,RESTAPI,Mav..."
11,Senior scala developer/Tech lead/Architect,"Віддаленаробота,Україна",$4000,10.0,Upper,"http4s,Scala,Akka,MongoDB,Kafka,PostgreSQL,Git..."
12,Scala/Big Data Developer,"Remote,Київ,Харків",$6000,4.0,Advanced/Fluent,"Scala,Spark,Cassandra,Hadoop,Kafka,Java,Python..."
13,Scala Developer,Київ,$2500,1.0,Pre-Intermediate,"JDBC,OOP,Hibernate,Maven,SpringMVC,Tomcat,Java..."
14,Scala developer,Remote,$2000,NaN,Intermediate,"Scala,Akka,Git,Linux,PostgreSQL,SQL,Functional..."